<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<button type="button" class="btn btn-outline-primary"><%= link_to 'Blogページへ', blogs_path %></button>

<button type="button" class="btn btn-outline-primary"><%= link_to '編集', edit_user_path(@user.id) %></button>
