.content-title {
  text-align: center;
}

.content_link {
  text-align: center;
}

.btn {
  margin-right: 20px;
}

.table {
  width: 90%;
  margin: 50px auto;
}

tr {
  text-align: center;
}

.author {
  text-align: center;
}
